test/Test_Workflow_List_Templates.json
{
  "name": "Test_Workflow_List_Templates",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7dfd81c9-5db4-41f5-bedc-bc216da76e78",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "uploadTemplateId": {
          "__rl": true,
          "value": "1370233913120394050",
          "mode": "list",
          "cachedResultName": "Service Agreement HTML - 1370233913120394050 - 253dab825f9349ee0bf2c33447579faebffb952c8f3a400079e7d2c07d7088ac"
        },
        "templateUploadAdditionalOptions": {}
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "47a5f5d9-d236-4349-8175-979f36983b52",
      "name": "Upload template - Duplicate existing version",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "templateId": {
          "__rl": true,
          "value": "1370233913120394050",
          "mode": "list",
          "cachedResultName": "Service Agreement HTML - 1370233913120394050 - 253dab825f9349ee0bf2c33447579faebffb952c8f3a400079e7d2c07d7088ac"
        }
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "6589f4c7-3476-498e-8613-6aa3fa294704",
      "name": "Download template",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setup\n\n",
        "height": 272,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -112
      ],
      "id": "8f7b7ba3-d890-4980-a93b-c741ebb2c021",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tests\n- List template versions from Template ID (2 returned)\n- Filter by Template ID\n\n",
        "height": 272,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -112
      ],
      "id": "ccb5bd86-fde7-45b7-b2e8-a1116c3e0b98",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "list",
        "id": "={{ $json.data.id }}",
        "versionId": "=",
        "includeVersions": true
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        656,
        32
      ],
      "id": "810cb7cf-0e32-4974-ab59-74f06f649a6c",
      "name": "List templates",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4877bce9-118c-4e41-acd4-862289c386ee",
              "leftValue": "={{ !!$json.data[0].versionId }}",
              "rightValue": "={{ DateTime.now().plus({ days: 5 }).startOf('day').toUTC().toISO() }}",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "003df19f-e20b-4eb5-a84a-2f4282060bdb",
              "leftValue": "={{ !!$json.data[1].versionId }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "142a2981-8703-40e6-acdf-846610b516d7",
              "leftValue": "={{ $json.data[0].origin }}",
              "rightValue": "API",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5af9f2e2-2cac-4f21-b651-61c5b2e50119",
              "leftValue": "={{ $json.data[1].origin }}",
              "rightValue": "Studio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        0
      ],
      "id": "b8c90ece-efc8-4dcc-9499-f1b91312ee37",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1104,
        16
      ],
      "id": "28688367-1186-48be-a99f-3c5378f62894",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "delete",
        "templateId": {
          "__rl": true,
          "value": "={{ $('Upload template - Duplicate existing version').item.json.data.versionId }}",
          "mode": "id"
        }
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        1600,
        688
      ],
      "id": "41bfb6ed-c10a-442c-8b92-396add707a9f",
      "name": "Delete template",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## Clean\n\n",
        "height": 256,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        624
      ],
      "id": "832c7c28-1eae-4005-aa06-96fb39c685f5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "list",
        "id": "={{ $json.data.id }}",
        "includeVersions": true,
        "origin": 1
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        656,
        336
      ],
      "id": "0fca465b-a402-4726-9fb4-6145e8b8a283",
      "name": "List templates1",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "343a9bb5-765f-4e8d-99a8-86ffa0eeb4e4",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f718aa94-733c-407e-8432-abec686b5902",
              "leftValue": "={{ $json.data[0].versionId }}",
              "rightValue": "253dab825f9349ee0bf2c33447579faebffb952c8f3a400079e7d2c07d7088ac",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6ea4e843-9bb9-4180-b467-e11ba303a8d6",
              "leftValue": "={{ $json.data[0].origin }}",
              "rightValue": "Studio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        336
      ],
      "id": "ced60aa6-56cf-402c-9c8a-d0aaafe2a9d2",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1008,
        416
      ],
      "id": "ebb1625e-bac6-40df-93ef-8ed4dfb25b14",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "operation": "list",
        "id": "={{ $('Upload template - Duplicate existing version').item.json.data.id }}",
        "includeVersions": true,
        "origin": 0
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        1008,
        240
      ],
      "id": "bc7a19fa-2ad3-4e7b-a97c-bda4ea1a5675",
      "name": "List templates2",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "343a9bb5-765f-4e8d-99a8-86ffa0eeb4e4",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f718aa94-733c-407e-8432-abec686b5902",
              "leftValue": "={{ !!$json.data[0].versionId }}",
              "rightValue": "253dab825f9349ee0bf2c33447579faebffb952c8f3a400079e7d2c07d7088ac",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6ea4e843-9bb9-4180-b467-e11ba303a8d6",
              "leftValue": "={{ $json.data[0].origin }}",
              "rightValue": "API",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        240
      ],
      "id": "2116eec7-ef96-43a3-8135-14e495238790",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## Tests\n-  List only Template from origin Studio\n- List only Template from origin API\n- Filter by Template ID\n",
        "height": 384,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        160
      ],
      "id": "2fd731c2-2bb3-4c75-b2ae-32907b8cff51",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "errorMessage": "Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1360,
        432
      ],
      "id": "ecef6ad9-93c1-4219-aabd-57bdaa62ed03",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "operation": "list",
        "id": "=",
        "versionId": "=",
        "includeVersions": true,
        "category": "Folder Category Test"
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        640,
        624
      ],
      "id": "f95c97b5-f576-4577-a94f-61c1c10c6f05",
      "name": "List templates3",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tests\n- Filter by Category\n\n",
        "height": 240,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        544
      ],
      "id": "0b31e48b-5190-472e-b1e6-88e29379e8f1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Tests\n- Filter by Version ID\n\n",
        "height": 240,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        784
      ],
      "id": "0eeef8f9-dc83-4c63-a7c8-9a3ce4af4611",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "list",
        "id": "=",
        "versionId": "={{ $json.data.versionId }}",
        "includeVersions": true
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        640,
        896
      ],
      "id": "93165a10-e407-4f91-92a1-af3d5f01aba8",
      "name": "List templates4",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "343a9bb5-765f-4e8d-99a8-86ffa0eeb4e4",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f718aa94-733c-407e-8432-abec686b5902",
              "leftValue": "={{ $json.data[0].name }}",
              "rightValue": "Invoice Template",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ec9d8a17-8772-42a2-9de2-89da0dee553e",
              "leftValue": "={{ $json.data[0].category }}",
              "rightValue": "Folder Category Test",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        640
      ],
      "id": "29ab7d25-97f1-437c-b77d-2c166213b162",
      "name": "If3"
    },
    {
      "parameters": {
        "errorMessage": "Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1008,
        688
      ],
      "id": "37c99583-9f60-4b7f-83cf-783934975ebc",
      "name": "Stop and Error3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec9d8a17-8772-42a2-9de2-89da0dee553e",
              "leftValue": "={{ $json.data[0].versionId }}",
              "rightValue": "={{ $('Upload template - Duplicate existing version').item.json.data.versionId }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "616291fc-3b81-4bc1-8222-ef9c8811faed",
              "leftValue": "={{ $json.data[0].origin }}",
              "rightValue": "API",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b95ca917-927a-4dc1-8b3d-3c8131b03397",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        896
      ],
      "id": "00b396df-0408-4376-b28f-c62921b4837d",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        704
      ],
      "id": "5287e57b-08af-4efb-ad41-df14cf1a9715",
      "name": "Merge"
    },
    {
      "parameters": {
        "errorMessage": "Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1008,
        992
      ],
      "id": "f04932e2-e7e5-435e-9933-bfe41b395fb6",
      "name": "Stop and Error4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload template - Duplicate existing version": {
      "main": [
        [
          {
            "node": "List templates",
            "type": "main",
            "index": 0
          },
          {
            "node": "List templates1",
            "type": "main",
            "index": 0
          },
          {
            "node": "List templates3",
            "type": "main",
            "index": 0
          },
          {
            "node": "List templates4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download template": {
      "main": [
        [
          {
            "node": "Upload template - Duplicate existing version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List templates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List templates1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "List templates2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List templates2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List templates3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List templates4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Delete template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2168e059-23d4-4f99-abe9-5950d6e1f5e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d09110c494d29132e717e2d8cdba9566bb09d4ab3e8c75ec241c4473351904b"
  },
  "id": "31rTMv3E82UjSkVj",
  "tags": [
    {
      "updatedAt": "2026-03-08T14:45:52.590Z",
      "createdAt": "2026-03-08T14:45:52.590Z",
      "id": "9e75H4yMC691FPHM",
      "name": "e2e-tests"
    }
  ]
}