test/Test_Workflow_Office_to_PDF.json
{
  "name": "Test_Workflow_Office_to_PDF",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2ef0e46d-4d3b-4c12-b275-d598cdc4b659",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "templateId": {
          "__rl": true,
          "value": "1261313065510878624",
          "mode": "list",
          "cachedResultName": "Invoice Template - 1261313065510878624 - 51fbe60487da02f2a9b6ecfeb33320f53ca88c16ddc365c085c51aa4b448ca61"
        }
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        240,
        -96
      ],
      "id": "0ba7b43a-9335-4cef-bd45-6e540f00591b",
      "name": "Download template",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "650c64e5-216d-4495-a2c9-868a09ca0435",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "report.pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8fd8f1e5-fee8-4b21-9031-e74bbcf89577",
              "leftValue": "={{ $json.size }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0c670b7c-5c1d-4f90-a723-bab126a0d83b",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        -96
      ],
      "id": "3dbdb4ae-7979-4d57-ace7-8a17709076e8",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1008,
        64
      ],
      "id": "00d12e85-0a33-4d29-896f-a7309842792d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "resource": "convertDocument",
        "operation": "convertOfficeToPdf",
        "officeSource": "templateId",
        "templateId": {
          "__rl": true,
          "value": "1261313065510878624",
          "mode": "list",
          "cachedResultName": "Invoice Template - 1261313065510878624 - 51fbe60487da02f2a9b6ecfeb33320f53ca88c16ddc365c085c51aa4b448ca61"
        },
        "converter": "O"
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        416,
        128
      ],
      "id": "bbf827bd-818e-484b-9179-272f2cd2d437",
      "name": "Convert office document to PDF1",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "convertDocument",
        "operation": "convertOfficeToPdf"
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        432,
        -96
      ],
      "id": "4df487ba-5a9b-4726-b04a-ce8a19f0e462",
      "name": "Convert Office to PDF from N8N File",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "650c64e5-216d-4495-a2c9-868a09ca0435",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "report.pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8fd8f1e5-fee8-4b21-9031-e74bbcf89577",
              "leftValue": "={{ $json.size }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0c670b7c-5c1d-4f90-a723-bab126a0d83b",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        144
      ],
      "id": "bbae61ff-d2ff-4909-ad8e-c3a93c9ec0d7",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert office document to PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download template": {
      "main": [
        [
          {
            "node": "Convert Office to PDF from N8N File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Office to PDF from N8N File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert office document to PDF1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24b664c6-b90b-43ad-812a-41c062eadfde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d09110c494d29132e717e2d8cdba9566bb09d4ab3e8c75ec241c4473351904b"
  },
  "id": "b1jRRcg4OenvUyOZ",
  "tags": [
    {
      "updatedAt": "2026-03-08T14:45:52.590Z",
      "createdAt": "2026-03-08T14:45:52.590Z",
      "id": "9e75H4yMC691FPHM",
      "name": "e2e-tests"
    }
  ]
}