test/Test_Workflow_List_Category_and_Tags.json
{
  "name": "Test_Workflow_List_Category_and_Tags",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b9a29d2c-8e45-4936-80a9-8b5bba778ddd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "listCategories"
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        208,
        -80
      ],
      "id": "ec8503e8-278c-4d55-9404-17f2ab64d284",
      "name": "List template categories",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07feda2b-9e21-4534-b58c-abb61c8a6c6e",
              "leftValue": "={{ $json.data[0].name }}",
              "rightValue": "Folder Category Test",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -80
      ],
      "id": "907a535b-57d7-4968-a368-97e6151e7341",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Stop"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        784,
        32
      ],
      "id": "d9d45eb5-3592-4b26-a55e-c768c092dc1c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "listTags"
      },
      "type": "CUSTOM.carbone",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "5e6772ae-3756-4ef7-bd4e-20024f64c05e",
      "name": "List template tags",
      "credentials": {
        "carboneApi": {
          "id": "W7ldNQYzDY7Wcg0j",
          "name": "N8N Carbone Account Prod Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fd072459-7ee3-4489-8dd5-5b06fa5b8d3b",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "2ae17186-5044-44ad-847e-9bc39245d0e1",
              "leftValue": "={{ $json.data[1].name }}",
              "rightValue": "Doc",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        128
      ],
      "id": "dd275544-0186-4f71-baca-7509308d33ec",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List template categories",
            "type": "main",
            "index": 0
          },
          {
            "node": "List template tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List template categories": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List template tags": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7a63db5a-3ccc-4aec-93f3-ae5b8a93fe2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d09110c494d29132e717e2d8cdba9566bb09d4ab3e8c75ec241c4473351904b"
  },
  "id": "qY0NtmagC4zFZl90",
  "tags": [
    {
      "updatedAt": "2026-03-08T14:45:52.590Z",
      "createdAt": "2026-03-08T14:45:52.590Z",
      "id": "9e75H4yMC691FPHM",
      "name": "e2e-tests"
    }
  ]
}